/* h1 {
	color: red;
} */

body {
	background-image: url('https://media.cntraveler.com/photos/5f4d76dd7542911efadbef61/4:5/w_2444,h_3055,c_limit/Yosemite-GettyImages-164289875.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

p {
	color: white;
}

#person {
	font-weight: 800;
}

.top {
	padding: 20px;
}

.level {
	display: flex;
	justify-content: space-between;
}

#refresh {
	background-color: transparent;
	font-size: xx-large;
	color: none;
	border: none;
}

.main {
	display: flex;
	flex-direction: column;
	margin-top: 300px;

	align-items: center;
	/* aligns items in x axis */
}

.morning {
	font-size: x-large;
	letter-spacing: 1px;
}

.fatherTime {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 20px;
}

.time {
	font-size: 100px;
}

.timezone {
	font-size: 30px;
	color: lightgray;
	margin-top: 65px;
}

.overAllPlace {
	padding: 0px 15px;
}

.place {
	font-size: xx-large;
	font-weight: bold;
}

#more {
	margin-left: 15px;
	/* 15 pixels from left wall */
	background-color: white;
	letter-spacing: 1px;
	border-radius: 40px;
}

#myDIV {
	background-color: black;
}

#myDIV p {
	letter-spacing: 1px;
}

.stats {
	font-weight: 800;
}

.currentTimezone {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin-top: 20px;
	/* background-color: red;
	color: black; */
}

/* .currentPlace {
	color: black;
} */

.dayYear {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.dayWeek {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.weekNumber {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
